p {
	color: white;
}

body {
	background-color: indigo;
}

.navbar-brand {
	float:none;
}

.buffer {
	height: 175px;
}

.poster {
	display: block;
	margin-right: 15px;
}

.selected {
	width:250px;
}

.notselected {
	width:225px;
}

.movies {
	width: 100%; 
	display: block; 
	overflow: auto;
}
