p {
	color: black;
}

body {
	background-color: indigo;
}

.navbar-brand {
	float:none;
}

.buffer {
	height: 100px;
}

.poster {
	display: block;
	margin-right: 15px;
}

.selected {
	width:250px;
}

.notselected {
	width:225px;
}

.movies {
	height: 400px;
	width: 100%; 
	display: block; 
	overflow: auto;
}

.description-box {
	position: relative;
	overflow: auto;
	height: 300px;
}

.description-heading {
	text-align: center;
}

.description-poster {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	width: 150px;
}

.description-stars {
	margin-left: 10px;
	margin-right: 10px;
	width: 125px;
}

.description-text {
	margin-top: 10px;
}

.show {
	overflow: auto;
	position: absolute;
	visibility: visible;
} 

.dontshow {
	overflow: auto;
	position: absolute;
	visibility: hidden;
}

.header-title {
	font-family: Arial;
	font-size: 25px;
	vertical-align: center;
	text-align: center;
	color: indigo;
}